@import "./reset.scss";

$pixelPerStep: 20px;
$itemSize: 10;

body {
    background: #111;
    color: #fff;
}

.main {
    padding: 20px;
    font-family: "Roboto", "Arial", sans-serif;
}

button {
    padding: 4px 10px 3px 10px;
    background: #000;
    border-radius: 4px;
    border: 1px solid #888;
    color: #999;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: #fff;
    }
}

.simFrame {
    width: 2000px;
    height: 500px;
    background: #333;
    border: 1px solid #555;
    margin: 10px 0;
    display: block;
    position: relative;
    border-radius: 4px;
}

h3 {
    margin: 10px 0;
}

.building {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 0 0 2px red;
    > .name {
        position: absolute;
        top: -20px;
        color: red;
        left: 0px;
        font-size: 14px;
    }
}

.beltLane {
    position: absolute;
    top: 100px;
    left: 100px;

    height: 80px;
    background: #555;
    border-radius: 3px;
    box-sizing: content-box;
    border: 1px solid #000;
    margin-left: -1px;
    margin-top: -1px;

    .tick {
        position: absolute;
        top: 20px;
        border-left: 1px solid rgba(#fff, 0.15);
        height: 60px;
        padding-left: 5px;
        padding-top: 3px;
        box-sizing: border-box;
        font-size: 10px;
        color: rgba(#fff, 0.4);
        width: $pixelPerStep;
        background: rgba(#fff, 0.05);
        overflow: visible;
        white-space: nowrap;
        z-index: 10;
    }
    .maxStep {
        position: absolute;
        top: 65px;
        border-left: 1px solid rgba(blue, 0.8);
        height: 12px;

        box-shadow: rgba(#fff, 0.1) (-$pixelPerStep * $itemSize / 2 + 5px) 0 0 0;
        padding-left: 3px;
        font-size: 10px;
        color: #fff;
        // width: 10px;
        width: $pixelPerStep * $itemSize / 2;
        background: rgba(#fff, 0.1);
        overflow: visible;
        white-space: nowrap;
        z-index: 50;
        transition: left 0.1s linear;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .name {
        font-size: 10px;
        text-transform: uppercase;
        top: 4px;
        left: 5px;
        z-index: 30;
        position: absolute;
        color: #fff;
    }
    .item {
        position: absolute;
        top: 38px;
        margin-left: -3px;
        height: 20px;

        &.world {
            width: $pixelPerStep * $itemSize / 2;
            box-shadow: rgba(0, 255, 0, 0.3) (-$pixelPerStep * $itemSize / 2 + 5px) 0 0 0;
            text-indent: -100px;
        }

        &.progress {
            width: $pixelPerStep * 1;
            height: 40px;
        }

        transition: left 0.1s linear;
        font-size: 11px;
        background: rgba(39, 209, 39, 0.5) url("@/assets/shape.png") right center / 20px 20px no-repeat;
        z-index: 200;
        border-left: 6px solid #fff;
        border-top-right-radius: 0px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-top: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        $colors: red, green, blue, yellow, orange, red, green, blue, yellow, orange, red, green, blue, yellow,
            orange, red, green, blue, yellow, orange;

        @for $i from 0 through 19 {
            &.item-#{$i} {
                $color: nth($colors, $i + 1);
                // border-left-color: $color;
                background-color: rgba($color, 0.5);
                &.world {
                    box-shadow: rgba($color, 0.3) (-$pixelPerStep * $itemSize / 2 + 5px) 0 0 0;
                }
            }
        }
    }
}

.contents {
    .lane {
        margin: 5px 0;
        padding: 10px;
        background: #333;
        font-family: monospace;
        b {
            color: #39f;
        }
    }
}
