{
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 110,
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true
}
