@font-face {
  font-family: 'Rubik-Regular';
  src: url('fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url('fonts/Rubik-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url('fonts/Rubik-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Light';
  src:url('fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-LightItalic';
  src: url('fonts/Rubik-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Black';
  src: url('fonts/Rubik-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-ExtraBold';
  src: url('fonts/Rubik-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Italic';
  src: url(~@/assets/fonts/Rubik-Italic.ttf)  format('truetype'),
}
